.column {
	margin-bottom: 15px;
}

.column1 {
	width: 60%;
}

.column2 {
	width: 40%;
	display: flex;
	align-items: center;
}

.paymentArea {
	background-color: white;
	max-width: 50%;
	margin: 0 auto;
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	text-align: left;
}

.paymentArea label {
	font-weight: bold;
	margin-bottom: 8px;
	color: #020402;
	font-size: 1em;
	width: 80%;
}

.paymentArea {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
#myCard {
	width: 100%;
	padding: 30px 0;
	text-align: left;
	margin-top: 15px;
}
#myPaypal {
	width: 100%;
	padding: 30px 0;
	text-align: left;
	margin-top: 15px;
}
.paymentArea button {
	padding: 10px 20px;
	font-size: 1em;
	border: none;
	border-radius: 5px;
	background-color: #d40e0e;
	color: white;
	cursor: pointer;
}
