.App {
	text-align: center;
	margin: none;
}
body {
	background-color: #d40e0e;
}
h1 {
	background-color: #ffd700;
	color: #020402;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 75px;
	margin-bottom: 0px;
}

#banner {
	width: 100%;
	height: 450px;
}

#arrayImages {
	flex-wrap: wrap;
	padding-left: 20px;
	padding-top: 20px;
	justify-content: center;
	width: 150px;
	height: 200px;
}

.arrowImage {
	width: 50px;
	height: 50px;
}
